<html>
    <head>
        <title>Dekovej blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dekovej blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2014, 16:14</p>
            <h2><a href="">Šimej je smiešny</a></h2>
            <p>Volá sa Soták a je smiešny</p>
        </div>

        <div>
            <p>published: 16.05.2014, 16:14</p>
            <h2><a href="">Libej a Terez sú smiešni tiež!</a></h2>
            <p>Veľká hlava + malá tvár = smiešnota</p>
        </div>
    </body>
</html>
